footer(style="background:black; color:white") 
    div(class="text-center") #{settingGeneral.copyright}
    .row    
        .col-6 
            div(class="text-left pl-2") Hotline: #{settingGeneral.phone}
            div(class="text-left pl-2") Email: #{settingGeneral.email}
        .col-6 
            div(class="text-left pl-2") Address: #{settingGeneral.address}
